// <!--編寫成SCSS的形式-->
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}     /* 設定google字體 全部都使用 */

/*設定變數*/
$color_main:#c4c4c4;
$color_second:#312f2f;
$color_third:orange;


/*設定繼承*/


/*header*/
header{

}


/*nav*/





/*RWD*/

